/************ CONTENTS ***************/
/*************************************/
/* 0. MODULE CONFLICTS
/*  0.1. Developer Mode
/* 1. TOKEN HUD EXTENSIONS           
/*  1a. Extension Div
/*  1b. Hud Icons
/*  1c. Override Core Hud
/*  1d. Override Status Effects
/* 2. COMMON CONTROLS
/* 3. DIALOG
/*  3a. List Data
/*************************************/


/* 0. MODULE CONFLICTS */
/***************************/

/* 0.1. Developer Mode */

.dev-mode-tag {
	top: -6px;
    right: -6px;
    bottom: unset;
}

/* 1. TOKEN HUD EXTENSIONS */
/***************************/

/* 1a. Extension Container */

.tokenHudContainer {
	display: flex;
	align-items: self-end;
	margin-right: 50px;
	flex: 0 !important;
}

.col.tokenHudColumn {
	flex-direction: column; 
	flex-basis: 70px;
	height: unset!important;
	margin-top: 24px;
}

#hudLeftInner {
	align-items: flex-end;
	left: -160px;
}

#hudLeftOuter {
	left: -255px;
	align-items: flex-start;
}

.tokenhudext {
	display: flex; 
	flex: 0 !important;
    font-family: CaslonPro;
    font-weight: 600;
}

.tokenhudext.left {
	justify-content: flex-end; 
	display: inline-flex;
}

/*  1b. Hud Icons */

.control-icon.tokenhudicon {
	width: fit-content;
	min-width: 42px;
	flex-basis: auto;
	padding: 0 8px;
    margin: 11px 0px;
}

.control-icon.tokenhudicon.left {
	margin-right: 8px;
	margin-top: auto;  /* Override margin-top for first-child to maintain middle alignment */
}

/* 1c. Override core hud styles to avoid misalignment */ 

#token-hud .attribute.elevation {
	width: 42px;
	flex: 0 0 42px;
}

#token-hud .col.left {
    justify-content: center;
    left: -90px;
	align-items: flex-end;
}

#token-hud .col.right {
    justify-content: center;
    right: -90px;
	align-items: flex-start;
}

/* 1d. Override Status Effects to avoid overlap */

#token-hud .status-effects {
    /* top: -36px;  /* Realign to avoid placement conflict wth combat hud extensions */
	bottom: unset;
	background: #ececec; /* Change background to improve status effect visibility */
	width: 144px; /* Accommodate larger (wider) effect controls */
}

#token-hud .status-effects .effect-control {
    width: 36px;  /* Accommodate larger effect controls */
    height: 36px;  /* Accommodate larger (wider) effect controls */
	opacity: 0.75;  /* Improve visual clarity */
}

/* 2. COMMON CONTROLS */
/***************************/

/* 3. DIALOG */
/***************************/

/* 3a. List Data */

.gmtoolkit.list-metadata.id {
	font-family: var(--actor-input-font-family);
	color: #cbee8b75;
}

.gmtoolkit.list-metadata.version {
	color: #006188;
	font-weight: bold;
}

.gmtoolkit.list-thumbnail {
	vertical-align: bottom; 
	max-height: 1.5em;
}