/************ CONTENTS ***************/
/*************************************/
/* 0. MODULE CONFLICTS
/*  0.1. Furnace Advanced Macro fills
/* 1. TOKEN HUD EXTENSIONS           
/*  1a. Extension Div
/*  1b. Hud Icons
/*  1c. Override Core Hud
/*  1d. Override Status Effects
/*************************************/


/* 0. MODULE CONFLICTS */
/***************************/

/* 0.1. Furnace Advanced Macros Fill */

.macro-sheet .form-group.command .furnace-macro-command textarea {
	-webkit-text-fill-color: unset;
}



/* 1. TOKEN HUD EXTENSIONS */
/***************************/

/* 1a. Extension Container */

.tokenHudContainer {
	display: flex;
	align-items: self-end;
	margin-right: 50px;
	flex: 0 !important;
}

.col.tokenHudColumn {
	flex-direction: column; 
	flex-basis: 70px;
	height: unset!important;
	margin-top: 24px;
}

#hudLeftInner {
	align-items: flex-end;
	left: -160px;
}

#hudLeftOuter {
	left: -255px;
	align-items: flex-start;
}

.tokenhudext {
	display: flex; 
	flex: 0 !important;
    font-family: CaslonPro;
    font-weight: 600;
}

.tokenhudext.left {
	justify-content: flex-end; 
	display: inline-flex;
}

/* .tokenhudext.right {
	justify-content: flex-start; 
} */

/*  1b. Hud Icons */

.control-icon.tokenhudicon {
	width: fit-content;
	min-width: 42px;
	flex-basis: auto;
	padding: 0 8px;
    margin: 11px 0px;
}

.control-icon.tokenhudicon.left {
	margin-right: 8px;
	margin-top: auto;  /* Override margin-top for first-child to maintain middle alignment */
}

/* .control-icon.tokenhudicon.right {
	margin-left: 8px;
} */

/* 1c. Override core hud styles to avoid misalignment */ 

#token-hud .attribute.elevation {
	width: 42px;
	flex: 0 0 42px;
}

#token-hud .col.left {
    justify-content: center;
    left: -90px;
	align-items: flex-end;
}

#token-hud .col.right {
    justify-content: center;
    right: -90px;
	align-items: flex-start;
}

/* 1d. Override Status Effects to avoid overlap */

#token-hud .status-effects {
    top: unset;
	bottom: 0;
	background: #ececec; /* Change background to improve status effect visibility */
}


/* 2. COMMON CONTROLS */
/***************************/

/* 2a. Textarea */

.form-group textarea, 
.dialog-content textarea { 
	color: #d6d6d6;
	padding: 1px 3px;
	margin: 0;
	font-family: var(--actor-input-font-family);
	font-size: var(--actor-input-font-size);
	font-weight: var(--actor-input-font-weight);
	color: #d6d6d6;
	border: 1px solid #736953a6;
	border-left: none;
	box-shadow: 0px 0px 10px inset black;
	background: #352516;
}

/* 3. DIALOG */
/***************************/

/* 3a. List Data */

.gmtoolkit.list-metadata.id {
	font-family: var(--actor-input-font-family);
	color: #cbee8b75;
}

.gmtoolkit.list-metadata.version {
	color: #006188;
	font-weight: bold;
}

.gmtoolkit.list-thumbnail {
	vertical-align: bottom; 
	max-height: 1.5em;
}