/************ CONTENTS ***************/
/*************************************/
/* 0. MODULE CONFLICTS
/*  0.1. Developer Mode
/* 1. TOKEN HUD EXTENSIONS           
/*  1a. Extension Div
/*  1b. Hud Icons
/*  1c. Override Core Hud
/*  1d. Override Status Effects
/* 2. COMMON CONTROLS
/* 3. DIALOG / FORM
/*  3a. List Data
/*  3b. Select
/*  3c. Button
/*  3d. Flex Col
/*  3e. Flex Row
/*  3f. Input
/*************************************/


/* 0. MODULE CONFLICTS */
/***************************/

/* 0.1. Developer Mode */

.dev-mode-tag {
	top: -6px;
    right: -6px;
    bottom: unset;
}

/* 1. TOKEN HUD EXTENSIONS */
/***************************/

/* 1a. Extension Container */

.tokenHudContainer {
	display: flex;
	align-items: self-end;
	margin-right: 50px;
	flex: 0 !important;
}

.col.tokenHudColumn {
	flex-direction: column; 
	flex-basis: 70px;
	height: unset!important;
	margin-top: 24px;
}

#hudLeftInner {
	align-items: flex-end;
	left: -160px;
}

#hudLeftOuter {
	left: -255px;
	align-items: flex-start;
}

.tokenhudext {
	display: inline-flex; 
	flex: 0 !important;
  font-family: CaslonPro;
  font-weight: 600;
}

.tokenhudext.left {
	justify-content: flex-end; 
	display: inline-flex;
}

/*  1b. Hud Icons */

.control-icon.tokenhudicon {
	width: -webkit-fill-available;
	min-width: 42px;
	flex-basis: auto;
	padding: 0 8px;
  font-family: CaslonPro;
  font-weight: 600;
}

.control-icon.tokenhudicon.left {
	margin-right: 8px;
	margin-top: auto;  /* Override margin-top for first-child to maintain middle alignment */
}

/* 1c. Override core hud styles to avoid misalignment */ 

#token-hud .attribute.elevation {
	width: 42px;
	flex: 0 0 42px;
}

#token-hud .col.left {
    justify-content: center;
    left: -90px;
	align-items: flex-end;
}

#token-hud .col.right {
    justify-content: center;
    right: -90px;
	align-items: flex-start;
}

/* 1d. Override Status Effects to avoid overlap */

#token-hud .status-effects {
	bottom: unset;
	width: 144px; /* Accommodate larger (wider) effect controls */
}

#token-hud .status-effects .effect-control {
  width: 36px;  /* Accommodate larger effect controls */
  height: 36px;  /* Accommodate larger (wider) effect controls */
	opacity: 0.75;  /* Improve visual clarity */
}

/* 2. COMMON CONTROLS */
/***************************/

/* 3. DIALOG / FORM */
/***************************/

/* 3a. List Data */

.gmtoolkit.list-metadata.id {
	font-family: var(--actor-input-font-family);
	color: #cbee8b75;
}

.gmtoolkit.list-metadata.version {
	color: #006188;
	font-weight: bold;
}

.gmtoolkit.list-thumbnail {
	vertical-align: bottom; 
	max-height: 1.5em;
}

/* 3b. Select */

.app.window-app .form-group select {
	height: calc(var(--form-field-height) + 1px);
}

/* 3c. Button */

button.priority {
	height: 72px;
	overflow: hidden;
	padding-top: 8px;
	padding-bottom: 8px;
	background: url(../../../systems/wfrp4e/ui/sidebar_button-background_cyan.webp) repeat!important;
}

/* 3d. Flex Col */

.gmtoolkit .form-group.flexcol {
	flex-flow: column;
	display: flow-root;
	padding: 0px 4px;
	align-items: stretch;
	align-self: start;
	width: -webkit-fill-available;
}

/* 3e. Flex Row */
.gmtoolkit .form-group .flexrow {
	padding-bottom: 4px;
	padding-top: 1px;
	/* align-items: center; */
}

.gmtoolkit .flexrow .member-list .checkbox-label {
	border: none;
	text-align: unset;
}

.gmtoolkit .flexrow .member-list input[type="checkbox"] {
	position: inherit;
}

.gmtoolkit .flexrow.parameter {
	text-align-last: center;
	padding-top: 2px;
}

.gmtoolkit .flexrow.parameter label {
	text-align-last: start;
}

.flexrow.parameter.option label, 
.flexrow.parameter.option input[type="checkbox"] {
  padding-top: 0px;
  border: none;
  position: unset;
}

.gmtoolkit .flexrow.footer {
	margin-top: 12px;
}

.gmtoolkit .member-list {
	max-height: 240px;
	overflow-y: auto;
  align-self: flex-start;
}

.gmtoolkit .section-title {
	margin-bottom: 2px;
	font-variant: small-caps;
	font-weight: bold;
}

/* 3f. Input */

.gmtoolkit .form-group input[type="text"] {
	height: calc(var(--form-field-height) + 1px);
}

.gmtoolkit input:disabled {
	opacity: 0.7;
}
