<div class="form-group notGainedAdvantage">
    <label for="notGainedAdvantage">{{localize "GMTOOLKIT.Dialog.Advantage.NotGainedAdvantage"}} </label>
</div>
{{{notgained}}}
<div class="form-group gainedAdvantage">
    <label for="gainedAdvantage">{{localize "GMTOOLKIT.Dialog.Advantage.GainedAdvantage"}} </label>
</div>
{{{gained}}}
<div class="form-group noAdvantage">
    <label for="noAdvantage">{{localize "GMTOOLKIT.Dialog.Advantage.NoAdvantage"}}</label>
</div>
<div class="form-group" style = "flex-wrap: wrap; justify-content: flex-start">{{{none}}}</div>