<form autocomplete="off" onsubmit="event.preventDefault();">

    <p>{{{ localize "GMTOOLKIT.Dialog.Maintenance.Hint"}}}</p>

  <div><h4>{{ localize "GMTOOLKIT.Dialog.Maintenance.Macros" }}</h4>
        {{#each macros as |macro id|}}
            {{#if (ne macro.flags.wfrp4e-gm-toolkit.version macro.compendiumVersion)}}
              &nbsp; <img src="icons/vtt.png" title="Updated" class = "gmtoolkit list-thumbnail";/> 
            {{/if}}
        {{/each}}
    </div>
    
    <div><h4>{{ localize "GMTOOLKIT.Dialog.Maintenance.Tables" }}</h4>
        {{#each tables as |table id|}}
            {{#if (ne table.flags.wfrp4e-gm-toolkit.version table.compendiumVersion)}}
              &nbsp; <img src="icons/vtt.png" title="Updated" class = "gmtoolkit list-thumbnail";/> 
            {{/if}}
        {{/each}}
    </div>

</form>